* {
    margin: 0;
    padding: 0;
    /*font:12px "\5B8B\4F53",san-serif;*/
    font-family: Microsoft Yahei;
}

ol, ul {
    list-style: none;
}

.f12px {
    font-size: 12px;
}

.f14px {
    font-size: 14px;
}

.left {
    float: left;
}

.container_sell_show1 {
    margin-top: 50px;
    width: 1226px;
    height: 686px;
}

/*左边展示框图片*/
.left_col img {
    width: 234px;
    height: 614px;
    padding: 0;
    transition: all .2s linear;
    cursor: pointer;
}

/*右边展示框*/
.right_col {
    width: 992px;
    height: 614px;
}

/*右边第一二行框*/
.right1_row, .right2_row {
    width: 992px;
    height: 314px;
}

/*产品内容框*/
.product_content {
    width: 234px;
    height: 300px;
    background: white;
    margin-left: 14px;
    margin-bottom: 14px;
    text-align: center;
    box-shadow: 0;
    float: left;
    transition: all .2s linear;
    cursor: pointer;
}

.product_content img {
    width: 160px;
    height: 160px;
    padding: 20px 0;
    display: inline-block;
    transition: all .2s linear;

}

.p1 {
    width: 214px;
    height: 20.8px;
    /*font-size: 14px;*/
    font-weight: 400;
    text-align: center;
    margin-left: 9px;
    font-family: Microsoft Yahei;
}

.p2 {
    width: 214px;
    height: 20.8px;
    margin: 0 9px 8px;
    /*font-size: 12px;*/
    color: #b0b0b0;
    text-align: center;
    font-family: sans-serif;
}

.p3 {
    width: 214px;
    height: 18px;
    margin: 0 10px 14px;
    font-size: 13.5px;
    font-weight: normal;
    color: #ff6700;
    text-align: center;
    font-family: sans-serif;
}

/*产品展示框hover的实现*/
.product_content:hover, .left_col img:hover {
    margin-top: -2px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}



