*{
    margin: 0;
    padding: 0;
}
.header{
    width: 99.8%;
    height: 120px;
    background: center;
}
.header_banner{
    width: 980px;
    height: 60px;
    position: absolute;
    margin-left: 10px;
    transition: 1s;
    border-radius: 5px;
}
.banner_left{
    width: 30%;
    height: 80%;
    float: left;
    /*font-size: xx-large;*/
    position: absolute;
    margin-left: 20px;
    top: 12px;
    color:#bf131c;
    letter-spacing: 1px;
    font-family: family_calligraphy;
}
b{
    font-size: 50px;
}
.nav{
    width: 980px;
    height: 50px;
    position: absolute;
    float: left;
    top: 63px;
    margin-left: 10px;
    font-family: family_text;

}
.nav ul li{
    width: 50px;
    height: 20px;
    font-size: 18px;
    list-style: none;
    position: absolute;
    float: left;
    top: 15px;
}
.column_one{
    left: 700px;

}
.column_two{
    left: 800px;
}
.column_three{
    left: 900px;
}
a{
    text-decoration:none;
    color: #a20c14;
}
