       /*消除页面默认布局*/
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Microsoft Yahei";
    /*background-color: #f6f8f9;*/
}
       a{
           cursor: pointer;
       }

        /*页面总框架的定义*/

.container{
    height: 1900px;
    width: 1250px;
    position: relative;
    margin: 0 auto;
}

        /*头部的定义*/

.head{
    height: 60px;
    width: 100%;
    border: 1px solid transparent;
    font-size: 14.7px;
    box-shadow: 0px 10px 40px 1px gray;
    background-color: white;
}

        /*logo的定义*/
.head .headpic{
    height: 60px;
    width: 60px;
    position: absolute;
    background: url("../mainpage_images/logo.png") no-repeat;
    background-size: contain;
    margin: 0 14%;

}

        /*头部导航栏的定义*/
.head .head_nav{
    height: 40px;
    width: 70%;
    position: absolute;
    margin: 10px 19%;
    border: 1px solid transparent;
    background-color:transparent;
}

.head .head_navleft{
    height: 30px;
    width: 15%;
    position: absolute;
    top: 5px;
    background: transparent;
}
.head_navleft span{
    height: 30px;
    width: 40%;
    background-color: #15D168;
    display: block;
    float: left;
    margin-left: 5%;
    border-radius: 5px;
    text-align: center;
    line-height: 30px;
    font-size: 16px;
    transition: 1s;
}

.head_navleft span:hover{
    background-color: mediumseagreen;
}

.head .head_navright{
    height: 30px;
    width: 15%;
    border: 1px solid transparent;
    position: absolute;
    top: 3px;
    right: 20px;
    background: transparent;
}

.head_navright span{
    display: block;
    height: 30px;
    width: 40%;
    border: 1px solid transparent;
    border-radius: 5px;
    float: left;
    margin-left: 5%;
    background-color: #15D168;
    text-align: center;
    line-height: 30px;
    transition: 1s;
}

.head_navright span:hover{
    background-color: mediumseagreen;
}
.head a{
    background: transparent;
}
.head a:link{
    color: white;
}
.head a:visited{
    color: white;
}

    /*中间内容区定义*/
.content{
    width: 100%;
    height: 1800px;
    margin: 1px auto;
    border: 1px solid transparent;
    position: relative;
    font-size: 14.7px;
}
    /*轮播图区域*/
.content .carouselfigure{
    height: 500px;
    width: 95%;
    border: 1px solid transparent;
    margin:0 auto;
    overflow: hidden;
}
                    /*复制test.css模板*/
[data-am-gallery] {
   position: relative;
   width: 100%;
   height: 100%;
   background-color: transparent;
}
[data-am-gallery] .image {
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   opacity: 0;
   -webkit-transition: opacity 1000ms ease;
   transition: opacity 1000ms ease;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

[data-am-gallery] input[type="radio"]:checked {
   /* This loop handles the image switching and dot active state */
}
[data-am-gallery] input[type="radio"]:checked:nth-child(6) ~ .images .image:nth-child(6) {
   opacity: 1;
}
[data-am-gallery] input[type="radio"]:checked:nth-child(6) ~ .navigation .dot:nth-child(6) {
   background-color: coral;
}
[data-am-gallery] input[type="radio"]:checked:nth-child(6) ~ .navigation .dot:nth-child(6):hover {
   opacity: 1;
}
[data-am-gallery] input[type="radio"]:checked:nth-child(5) ~ .images .image:nth-child(5) {
   opacity: 1;
}
[data-am-gallery] input[type="radio"]:checked:nth-child(5) ~ .navigation .dot:nth-child(5) {
   background-color: coral;
}
[data-am-gallery] input[type="radio"]:checked:nth-child(5) ~ .navigation .dot:nth-child(5):hover {
   opacity: 1;
}
[data-am-gallery] input[type="radio"]:checked:nth-child(4) ~ .images .image:nth-child(4) {
   opacity: 1;
}
[data-am-gallery] input[type="radio"]:checked:nth-child(4) ~ .navigation .dot:nth-child(4) {
   background-color: coral;
}
[data-am-gallery] input[type="radio"]:checked:nth-child(4) ~ .navigation .dot:nth-child(4):hover {
   opacity: 1;
}
[data-am-gallery] input[type="radio"]:checked:nth-child(3) ~ .images .image:nth-child(3) {
   opacity: 1;
}
[data-am-gallery] input[type="radio"]:checked:nth-child(3) ~ .navigation .dot:nth-child(3) {
   background-color: coral;
}
[data-am-gallery] input[type="radio"]:checked:nth-child(3) ~ .navigation .dot:nth-child(3):hover {
   opacity: 1;
}
[data-am-gallery] input[type="radio"]:checked:nth-child(2) ~ .images .image:nth-child(2) {
   opacity: 1;
}
[data-am-gallery] input[type="radio"]:checked:nth-child(2) ~ .navigation .dot:nth-child(2) {
   background-color: coral;
}
[data-am-gallery] input[type="radio"]:checked:nth-child(2) ~ .navigation .dot:nth-child(2):hover {
   opacity: 1;
}
[data-am-gallery] input[type="radio"]:checked:nth-child(1) ~ .images .image:nth-child(1) {
   opacity: 1;
}
[data-am-gallery] input[type="radio"]:checked:nth-child(1) ~ .navigation .dot:nth-child(1) {
   background-color: coral;
}
[data-am-gallery] input[type="radio"]:checked:nth-child(1) ~ .navigation .dot:nth-child(1):hover {
   opacity: 1;
}
[data-am-gallery] .navigation {
   position: absolute;
   background-color: transparent;
   bottom: 15px;
   left: 50%;
   -webkit-transform: translateX(-50%);
   transform: translateX(-50%);
}
[data-am-gallery] .dot {
   display: inline-block;
   width: 15px;
   height: 15px;
   margin: 0 2px;
   border-radius: 50%;
   background-color: rgba(255, 255, 255, 0.8);
   cursor: pointer;
   -webkit-transition: opacity 200ms ease;
   transition: opacity 200ms ease;
}
[data-am-gallery] .dot:hover {
   opacity: 0.8;
}
[data-am-gallery] .prev, [data-am-gallery] .next {
   position: absolute;
   display: none;
   top: 0;
   bottom: 0;
   width: 100px;
   cursor: pointer;
   -webkit-transition: all 200ms ease;
   transition: all 200ms ease;
   font-family: sans-serif;
}
[data-am-gallery] .prev:before, [data-am-gallery] .next:before {
   position: absolute;
   top: 50%;
   left: 50%;
   -webkit-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
   font-size: 3vw;
   color: transparent;
}

[data-am-gallery] .prev {
   left: 0;
}
[data-am-gallery] .prev:before {
   content: "<";
    color: #cbcbcb;
}
[data-am-gallery] .next {
   right: 0;
}
[data-am-gallery] .next:before {
   content: ">";
    color: #cbcbcb;
}
                            /*当需要六张图时*/
[data-am-gallery~="6"][data-am-gallery~="next-prev-navigation"] input[type="radio"]:checked:nth-child(6) ~ .prev-container .prev:nth-child(5) {
   display: block;
    background-color: rgba(255,255,255,.1);
}
[data-am-gallery~="6"][data-am-gallery~="next-prev-navigation"] input[type="radio"]:checked:nth-child(6) ~ .next-container .next:nth-child(1) {
   display: block;
    background-color: rgba(255,255,255,.1);
}
[data-am-gallery~="6"][data-am-gallery~="next-prev-navigation"] input[type="radio"]:checked:nth-child(5) ~ .prev-container .prev:nth-child(4) {
   display: block;
    background-color: rgba(255,255,255,.1);
}
[data-am-gallery~="6"][data-am-gallery~="next-prev-navigation"] input[type="radio"]:checked:nth-child(5) ~ .next-container .next:nth-child(6) {
   display: block;
    background-color: rgba(255,255,255,.1);
}
[data-am-gallery~="6"][data-am-gallery~="next-prev-navigation"] input[type="radio"]:checked:nth-child(4) ~ .prev-container .prev:nth-child(3) {
   display: block;
    background-color: rgba(255,255,255,.1);
}
[data-am-gallery~="6"][data-am-gallery~="next-prev-navigation"] input[type="radio"]:checked:nth-child(4) ~ .next-container .next:nth-child(5) {
   display: block;
    background-color: rgba(255,255,255,.1);
}
[data-am-gallery~="6"][data-am-gallery~="next-prev-navigation"] input[type="radio"]:checked:nth-child(3) ~ .prev-container .prev:nth-child(2) {
   display: block;
    background-color: rgba(255,255,255,.1);
}
[data-am-gallery~="6"][data-am-gallery~="next-prev-navigation"] input[type="radio"]:checked:nth-child(3) ~ .next-container .next:nth-child(4) {
   display: block;
    background-color: rgba(255,255,255,.1);
}
[data-am-gallery~="6"][data-am-gallery~="next-prev-navigation"] input[type="radio"]:checked:nth-child(2) ~ .prev-container .prev:nth-child(1) {
   display: block;
    background-color: rgba(255,255,255,.1);
}
[data-am-gallery~="6"][data-am-gallery~="next-prev-navigation"] input[type="radio"]:checked:nth-child(2) ~ .next-container .next:nth-child(3) {
   display: block;
    background-color: rgba(255,255,255,.1);
}
[data-am-gallery~="6"][data-am-gallery~="next-prev-navigation"] input[type="radio"]:checked:nth-child(1) ~ .prev-container .prev:nth-child(5) {
   display: block;
    background-color: rgba(255,255,255,.1);

}
[data-am-gallery~="6"][data-am-gallery~="next-prev-navigation"] input[type="radio"]:checked:nth-child(1) ~ .next-container .next:nth-child(2) {
   display: block;
    background-color: rgba(255,255,255,.1);

}
[data-am-gallery~="5"] input[type="radio"]:nth-child(6),
[data-am-gallery~="5"] .navigation .dot:nth-child(6),
[data-am-gallery~="5"] .image:nth-child(6) {
   display: none !important;
}
                                        /*当需要五张图时*/
[data-am-gallery~="5"][data-am-gallery~="next-prev-navigation"] input[type="radio"]:checked:nth-child(5) ~ .prev-container .prev:nth-child(4) {
   display: block;
    background-color: rgba(255,255,255,.1);
}
[data-am-gallery~="5"][data-am-gallery~="next-prev-navigation"] input[type="radio"]:checked:nth-child(5) ~ .next-container .next:nth-child(1) {
   display: block;
    background-color: rgba(255,255,255,.1);
}
[data-am-gallery~="5"][data-am-gallery~="next-prev-navigation"] input[type="radio"]:checked:nth-child(4) ~ .prev-container .prev:nth-child(3) {
   display: block;
    background-color: rgba(255,255,255,.1);
}
[data-am-gallery~="5"][data-am-gallery~="next-prev-navigation"] input[type="radio"]:checked:nth-child(4) ~ .next-container .next:nth-child(5) {
   display: block;
    background-color: rgba(255,255,255,.1);
}
[data-am-gallery~="5"][data-am-gallery~="next-prev-navigation"] input[type="radio"]:checked:nth-child(3) ~ .prev-container .prev:nth-child(2) {
   display: block;
    background-color: rgba(255,255,255,.1);
}
[data-am-gallery~="5"][data-am-gallery~="next-prev-navigation"] input[type="radio"]:checked:nth-child(3) ~ .next-container .next:nth-child(4) {
   display: block;
    background-color: rgba(255,255,255,.1);
}
[data-am-gallery~="5"][data-am-gallery~="next-prev-navigation"] input[type="radio"]:checked:nth-child(2) ~ .prev-container .prev:nth-child(1) {
   display: block;
    background-color: rgba(255,255,255,.1);
}
[data-am-gallery~="5"][data-am-gallery~="next-prev-navigation"] input[type="radio"]:checked:nth-child(2) ~ .next-container .next:nth-child(3) {
   display: block;
    background-color: rgba(255,255,255,.1);
}
[data-am-gallery~="5"][data-am-gallery~="next-prev-navigation"] input[type="radio"]:checked:nth-child(1) ~ .prev-container .prev:nth-child(5) {
   display: block;
    background-color: rgba(255,255,255,.1);
}
[data-am-gallery~="5"][data-am-gallery~="next-prev-navigation"] input[type="radio"]:checked:nth-child(1) ~ .next-container .next:nth-child(2) {
   display: block;
    background-color: rgba(255,255,255,.1);
}
[data-am-gallery~="4"] input[type="radio"]:nth-child(6),
[data-am-gallery~="4"] .navigation .dot:nth-child(6),
[data-am-gallery~="4"] .image:nth-child(6) {
   display: none !important;
}
[data-am-gallery~="4"] input[type="radio"]:nth-child(5),
[data-am-gallery~="4"] .navigation .dot:nth-child(5),
[data-am-gallery~="4"] .image:nth-child(5) {
   display: none !important;
}

                                            /*四张图*/
[data-am-gallery~="4"][data-am-gallery~="next-prev-navigation"] input[type="radio"]:checked:nth-child(4) ~ .prev-container .prev:nth-child(3) {
   display: block;
    background-color: rgba(255,255,255,.1);
}
[data-am-gallery~="4"][data-am-gallery~="next-prev-navigation"] input[type="radio"]:checked:nth-child(4) ~ .next-container .next:nth-child(1) {
   display: block;
    background-color: rgba(255,255,255,.1);
}
[data-am-gallery~="4"][data-am-gallery~="next-prev-navigation"] input[type="radio"]:checked:nth-child(3) ~ .prev-container .prev:nth-child(2) {
   display: block;
    background-color: rgba(255,255,255,.1);
}
[data-am-gallery~="4"][data-am-gallery~="next-prev-navigation"] input[type="radio"]:checked:nth-child(3) ~ .next-container .next:nth-child(4) {
   display: block;
    background-color: rgba(255,255,255,.1);
}
[data-am-gallery~="4"][data-am-gallery~="next-prev-navigation"] input[type="radio"]:checked:nth-child(2) ~ .prev-container .prev:nth-child(1) {
   display: block;
    background-color: rgba(255,255,255,.1);
}
[data-am-gallery~="4"][data-am-gallery~="next-prev-navigation"] input[type="radio"]:checked:nth-child(2) ~ .next-container .next:nth-child(3) {
   display: block;
    background-color: rgba(255,255,255,.1);
}
[data-am-gallery~="4"][data-am-gallery~="next-prev-navigation"] input[type="radio"]:checked:nth-child(1) ~ .prev-container .prev:nth-child(4) {
   display: block;
    background-color: rgba(255,255,255,.1);
}
[data-am-gallery~="4"][data-am-gallery~="next-prev-navigation"] input[type="radio"]:checked:nth-child(1) ~ .next-container .next:nth-child(2) {
   display: block;
    background-color: rgba(255,255,255,.1);
}
[data-am-gallery~="3"] input[type="radio"]:nth-child(6),
[data-am-gallery~="3"] .navigation .dot:nth-child(6),
[data-am-gallery~="3"] .image:nth-child(6) {
   display: none !important;
}
[data-am-gallery~="3"] input[type="radio"]:nth-child(5),
[data-am-gallery~="3"] .navigation .dot:nth-child(5),
[data-am-gallery~="3"] .image:nth-child(5) {
   display: none !important;
}
[data-am-gallery~="3"] input[type="radio"]:nth-child(4),
[data-am-gallery~="3"] .navigation .dot:nth-child(4),
[data-am-gallery~="3"] .image:nth-child(4) {
   display: none !important;
}


                                            /*三张图*/
[data-am-gallery~="3"][data-am-gallery~="next-prev-navigation"] input[type="radio"]:checked:nth-child(3) ~ .prev-container .prev:nth-child(2) {
   display: block;
    background-color: rgba(255,255,255,.1);
}
[data-am-gallery~="3"][data-am-gallery~="next-prev-navigation"] input[type="radio"]:checked:nth-child(3) ~ .next-container .next:nth-child(1) {
   display: block;
    background-color: rgba(255,255,255,.1);
}
[data-am-gallery~="3"][data-am-gallery~="next-prev-navigation"] input[type="radio"]:checked:nth-child(2) ~ .prev-container .prev:nth-child(1) {
   display: block;
    background-color: rgba(255,255,255,.1);
}
[data-am-gallery~="3"][data-am-gallery~="next-prev-navigation"] input[type="radio"]:checked:nth-child(2) ~ .next-container .next:nth-child(3) {
   display: block;
    background-color: rgba(255,255,255,.1);
}
[data-am-gallery~="3"][data-am-gallery~="next-prev-navigation"] input[type="radio"]:checked:nth-child(1) ~ .prev-container .prev:nth-child(3) {
   display: block;
    background-color: rgba(255,255,255,.1);
}
[data-am-gallery~="3"][data-am-gallery~="next-prev-navigation"] input[type="radio"]:checked:nth-child(1) ~ .next-container .next:nth-child(2) {
   display: block;
    background-color: rgba(255,255,255,.1);
}
[data-am-gallery~="2"] input[type="radio"]:nth-child(6),
[data-am-gallery~="2"] .navigation .dot:nth-child(6),
[data-am-gallery~="2"] .image:nth-child(6) {
   display: none !important;
}
[data-am-gallery~="2"] input[type="radio"]:nth-child(5),
[data-am-gallery~="2"] .navigation .dot:nth-child(5),
[data-am-gallery~="2"] .image:nth-child(5) {
   display: none !important;
}
[data-am-gallery~="2"] input[type="radio"]:nth-child(4),
[data-am-gallery~="2"] .navigation .dot:nth-child(4),
[data-am-gallery~="2"] .image:nth-child(4) {
   display: none !important;
}
[data-am-gallery~="2"] input[type="radio"]:nth-child(3),
[data-am-gallery~="2"] .navigation .dot:nth-child(3),
[data-am-gallery~="2"] .image:nth-child(3) {
   display: none !important;
}
[data-am-gallery~="2"][data-am-gallery~="next-prev-navigation"] input[type="radio"]:checked:nth-child(2) ~ .prev-container .prev:nth-child(1) {
   display: block;
}
[data-am-gallery~="2"][data-am-gallery~="next-prev-navigation"] input[type="radio"]:checked:nth-child(2) ~ .next-container .next:nth-child(1) {
   display: block;
}
[data-am-gallery~="2"][data-am-gallery~="next-prev-navigation"] input[type="radio"]:checked:nth-child(1) ~ .prev-container .prev:nth-child(2) {
   display: block;
}
[data-am-gallery~="2"][data-am-gallery~="next-prev-navigation"] input[type="radio"]:checked:nth-child(1) ~ .next-container .next:nth-child(2) {
   display: block;
}

[data-am-gallery~="1"] .navigation {
   display: none;
}
.carouselfigure .imginner{
    height: 500px;
    width: 1200px;
    border: 1px solid;
    margin: 0 auto;
    float: left;
}
.imginner img{
    height: 500px;
    width: 1200px;
}
       /*展示区统一长宽属性*/
        .show_content{
            height: 328px;
            width: 1066px;
            margin: 10px auto;
            border:1px solid red;
            box-sizing: border-box;
            position:relative;
        }
        .show_content *{
            border:1px solid red;
            box-sizing: border-box;
        }
        .show_content_hover{
            height: 325px;
            width: 486px;
            float: left;
            border:1px solid rgba(177, 177, 177, 0.64);
            box-sizing: border-box;
        }
        .show_content_layout{
            height: 325px;
            width: 578px;
            float: left;
            border:1px solid rgba(177, 177, 177, 0.64);
            box-sizing: border-box;
        }
        .show_content_layout img{
            height: 323px;
            width: 576px;
        }
       /*第一个building展示模板css*/
.content .building{
}

.building .buildingleft{

}
.building .buildingright{

}
.buildingright img{

}

       /*第二个展示模板css*/


       /*第三css个展示*/


       /*第四个展示模板*/


       /*第五个展示模板*/


       /*第六个展示模板*/


       /*第七个展示模板*/


       /*第八个展示模板*/


       /*尾部区域的定义*/
.foot{
    height: 200px;
    width: 80%;
    border: 1px solid transparent;
    margin: 0px auto;
}
.foot .foot_top{
    text-align: center;
    color: silver;
    height: 20px;
    width: 100%;
    margin: 0 auto;
    border: 1px solid transparent;
    font-size: 14.7px;
}
                /*尾部外部链接区定义*/
.foot .foot_center{
    height: 100px;
    width: 80%;
    margin: 5px auto;
    border: 1px solid transparent;
}
.foot_center ul{
    height: 80px;
    width: 15%;
    list-style: none;
    border: 1px solid transparent;
    float: left;
    margin: 10px 19px;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
}
.foot_center a:link{
    color: gray;
}
.foot_center a:visited{
    color: gray;
}
                            /*版权区定义*/
.foot .foot_bottom{
    height: 60px;
    width: 80%;
    border: 1px solid transparent;
    margin: 5px auto;
    text-align: center;
    font-size: 12px;
}
.foot_bottom span{
    display: block;
    width: 30%;
    height: 40px;
    margin: 10px 12px;
    float: left;
    border: 1px solid transparent;
    line-height: 40px;
    color: gray;
}
                                /*返回顶部*/
.right_nav{
    position: fixed;
    height: 60px;
    width: 40px;
    border: 1px solid transparent;
    top: 90%;
    right: 0%;
    background-color: rgba(255,255,255,.3);
    font-weight: 800;
}
/*.right_nav ul{*/
    /*list-style: none;*/
    /*background-color: transparent;*/
/*}*/
/*.right_nav ul li{*/
    /*height: 30px;*/
    /*width: 50px;*/
    /*border: 1px solid;*/
    /*margin: 1px 4px;*/
    /*text-align: center;*/
    /*line-height: 30px;*/
    /*border-radius: 8px;*/
    /*background-color: transparent;*/
/*}*/
.right_nav a{
    background-color: transparent;
}
.right_nav a:link{
    color: black;
    background-color: transparent;
}
.right_nav a:visited{
    color: black;
    background-color: transparent;
}