                                    /*消除默认布局,定义初始布局*/
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Microsoft Yahei";
    background-color: #f6f8f9;
}
a{
    background-color: transparent;
}
form{
    background-color: transparent;
}
                                    /*定义外框*/
.container{
    width: 1250px;
    height: 700px;
    position: relative;
    margin: 0 auto;
}
                                    /*定义头部区域*/
.head{
    height: 60px;
    width: 100%;
    border: 1px solid transparent;
    background-color: white;
    box-shadow: 0 10px 40px 1px gray;
}
                                    /*头部LOGO区*/
.head .headpic{
    height: 60px;
    width: 60px;
    position: absolute;
    background: url("../mainpage_images/logo.png") no-repeat;
    background-size: contain;
    margin: 0 14%;

}
                                    /*头部导航区*/
.head_nav{
    height: 40px;
    width: 70%;
    position: absolute;
    margin: 10px 20%;
    border: 1px solid transparent;
    background-color: white;
}

.head .head_navleft{
    height: 30px;
    width: 15%;
    position: absolute;
    top: 5px;
    background-color: transparent;
}
.head_navleft span{
    height: 30px;
    width: 60%;
    background-color: #15D168;
    display: block;
    float: left;
    margin-left: 5%;
    border-radius: 5px;
    text-align: center;
    line-height: 30px;
    font-size: 16px;
    transition: 1s;
}

.head_navleft span:hover{
    background-color: mediumseagreen;
}

.head .head_navright{
    height: 30px;
    width: 35%;
    border: 1px solid transparent;
    position: absolute;
    top: 4px;
    right: 0;
    margin-left: 5%;
    background-color: transparent;
}

.head_navright span{
    display: block;
    height: 30px;
    width: 25%;
    border: 1px solid transparent;
    border-radius: 5px;
    float: right;
    margin-left: 5%;
    background-color: #15D168;
    text-align: center;
    line-height: 30px;
    transition: 1s;
}

.head_navright span:hover{
    background-color: mediumseagreen;
}

.head a:link{
    color: white;
}
.head a:visited{
    color: white;
}
                                /*定义中部内容区*/
.content{
    height: 650px;
    width: 100%;
    border: 1px solid transparent;
    margin: 1px auto;
    background: url("../mainpage_images/login_background.jpg") 0 -1150px no-repeat;
    opacity: 0.7;
    background-size: cover;
}
.content .contentcenter{
    height: 560px;
    width: 400px;
    font-size: 14.7px;
    border: 1px solid transparent;
    margin: 50px auto;
    background-color: white;
    border-radius: 5px;
}
.content input{
    background-color: transparent;
}
.content span{
    background-color: transparent;
}
.content label{
    background-color: transparent;
}
                        /*账号部分定义*/
.contentcenter .ac_num{
    width: 380px;
    height: 40px;
    border: 1px solid transparent;
    margin-top: 50px;
    margin-left: 5px;
    text-indent: 2em;
    line-height: 40px;
    background-color: white;
}
.ac_num input{
    width: 250px;
    height: 30px;
    outline: none;
    border: 1px solid silver;
    margin-left: 28px;
    padding-left: 10px;
}
.ac_num input:hover{
    border:1px solid lightgreen;
    box-shadow: 0 0 1px 1px rgba(64,64,64,.3);
}
.ac_num input:focus{
    border:1px solid lightgreen;
    box-shadow: 0 0 1px 1px rgba(64,64,64,.3);
}
.contentcenter .ac_num_help{
    width: 300px;
    height: 30px;
    border: 1px solid transparent;
    font-size: 12px;
    margin-left: 100px;
    line-height: 30px;
    background-color: transparent;
}
                        /*密码部分定义*/
.contentcenter .pw_num{
    width: 380px;
    height: 40px;
    border: 1px solid transparent;
    margin-left: 5px;
    text-indent: 2em;
    line-height: 40px;
    background-color: white;
}
.pw_num input{
    width: 250px;
    height: 30px;
    outline: none;
    border: 1px solid silver;
    margin-left: 28px;
    padding-left: 10px;
}
.pw_num input:hover{
    border:1px solid lightgreen;
    box-shadow: 0 0 1px 1px rgba(64,64,64,.3);
}
.pw_num input:focus{
    border:1px solid lightgreen;
    box-shadow: 0 0 1px 1px rgba(64,64,64,.3);
}
.contentcenter .pw_num_help{
    width: 400px;
    height: 30px;
    border: 1px solid transparent;
    font-size: 12px;
    margin-left: 100px;
    line-height: 30px;
    background-color: transparent;
}
                            /*确认密码区域定义*/
.contentcenter .rpw_num{
    width: 380px;
    height: 40px;
    border: 1px solid transparent;
    margin-left: 5px;
    text-indent: 1em;
    line-height: 40px;
    background-color: white;
}
.rpw_num input{
    width: 250px;
    height: 30px;
    outline: none;
    border: 1px solid silver;
    margin-left: 14px;
    padding-left: 10px;
}
.rpw_num input:hover{
    border:1px solid lightgreen;
    box-shadow: 0 0 1px 1px rgba(64,64,64,.3);
}
.rpw_num input:focus{
    border:1px solid lightgreen;
    box-shadow: 0 0 1px 1px rgba(64,64,64,.3);
}
.contentcenter .rpw_num_help{
    width: 300px;
    height: 30px;
    border: 1px solid transparent;
    font-size: 12px;
    margin-left: 100px;
    line-height: 30px;
    background-color: transparent;
}
                            /*邮箱部分定义*/
.contentcenter .email{
    width: 380px;
    height: 40px;
    border: 1px solid transparent;
    margin-left: 5px;
    text-indent: 2em;
    line-height: 40px;
    background-color: white;
}
.email input{
    width: 250px;
    height: 30px;
    outline: none;
    border: 1px solid silver;
    margin-left: 28px;
    padding-left: 10px;
}
.email input:hover{
    border:1px solid lightgreen;
    box-shadow: 0 0 1px 1px rgba(64,64,64,.3);
}
.email input:focus{
    border:1px solid lightgreen;
    box-shadow: 0 0 1px 1px rgba(64,64,64,.3);
}
.contentcenter .email_help{
    width: 300px;
    height: 30px;
    border: 1px solid transparent;
    font-size: 12px;
    margin-left: 100px;
    line-height: 30px;
    background-color: transparent;
}
                            /*手机号码部分定义*/
.contentcenter .phone{
    width: 380px;
    height: 40px;
    border: 1px solid transparent;
    margin: 0px 5px;
    text-indent: 1em;
    line-height: 40px;
    background-color: white;
}
.phone input{
    width: 250px;
    height: 30px;
    outline: none;
    border: 1px solid silver;
    margin-left: 15px;
    padding-left: 10px;

}
.phone input:hover{
    border:1px solid lightgreen;
    box-shadow: 0 0 1px 1px rgba(64,64,64,.3);
}
.phone input:focus{
    border:1px solid lightgreen;
    box-shadow: 0 0 1px 1px rgba(64,64,64,.3);
}
                            /*手机验证码区域定义*/
.contentcenter .ph_check{
    width: 380px;
    height: 30px;
    border: 1px solid transparent;
    margin: 0px 5px;
    text-indent: 8px;
    line-height: 30px;
    background-color: white;
}
.ph_check input{
    width: 250px;
    height: 30px;
    outline: none;
    border: 1px solid silver;
    margin-left: 9px;
    padding-left: 10px;
}
.ph_check input:hover{
    border:1px solid lightgreen;
    box-shadow: 0 0 1px 1px rgba(64,64,64,.3);
}
.ph_check input:focus{
    border:1px solid lightgreen;
    box-shadow: 0 0 1px 1px rgba(64,64,64,.3);
}
.contentcenter .phone_help{
    width: 300px;
    height: 30px;
    border: 1px solid transparent;
    font-size: 12px;
    margin-left: 100px;
    line-height: 30px;
    background-color: transparent;
}
.contentcenter .ph_check_help{
    width: 300px;
    height: 30px;
    border: 1px solid transparent;
    font-size: 12px;
    margin-left: 100px;
    line-height: 30px;
    background-color: transparent;
}
                            /*确认按钮区域定义*/
.contentcenter .hangon{
    width: 300px;
    height: 60px;
    margin: 0px auto;
    text-align: center;
    line-height: 60px;
    background-color: transparent;
}
.hangon input{
    outline: none;
    width: 80px;
    height: 40px;
    border: 1px solid transparent;
    color: white;
    background-color: #00ca4c;
    border-radius: 10px;
    transition: 1s;
}
.hangon input:hover{
    background-color: rgba(46,119,87,.9);
}
.contentcenter p{
    background-color: transparent;
}
                                /*底部定义*/
.foot{
    height: 30px;
    width: 100%;
    border: 1px solid transparent;
    margin: 5px auto;
    text-align: center;
    font-size: 12px;
    color: gray;
}
.foot span{
    display: block;
    width: 30%;
    height: 20px;
    margin: 10px 12px;
    float: left;
    border: 1px solid transparent;
    line-height: 20px;
}