*{
    margin:0;
    padding:0;
}
body{
    background: rgb(30, 30, 30);
}
@font-face {
    font-family:family_min;
    font-size:20px;
    src:url(../font/李旭科书法1.4.ttf);
}
/*图片外套*/
.pic_content{
    position: relative;
    float:left;
    margin-right:15px;
}
.pic_content{
    width:360px;
    height:700px;
    overflow:hidden;

}
.pic_content:not(:nth-child(1)){
    cursor: pointer;
}
.pic_content img{
    width:500px;
    height:755px;
    z-index: 5;;

}


/*"点我"外套*/
.word_content{
    display:inline-block;
    width:360px;
    height:700px;
    position: absolute;
    top:0;
    left:0;
    z-index:10;
    border:1px solid rgba(222, 156, 31, 0.4);
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.4);
}
.word_content:hover{
    background: rgba(0, 0, 0, 0);
}
/*图片为证调整*/
.pic1{
    position:absolute;
    right:-140px;
    top:-33px;
}
.pic2{
    position:absolute;
    top:-55px;
    right:-141px;
}
.pic3{
    position:absolute;
    top: -38px;
    right: -140px;
}
/*左边"歌手"外套*/
.singer{
    width:360px;
    height:52px;
    position: absolute;
    top:312px;
}
.singer span{
    line-height: 1.5em;
    font-weight:bold;
    letter-spacing: 10px;
    font-size:40px;
    display:block;
    margin:auto;
    text-align: center;
    font-family:family_min;
    color: #de9c1f;
}
.singer span:nth-child(2){
    font-size:16px;
    font-weight:normal;
    font-family: 楷体;
}


.word_content .click{
    width:25px;
    height:50px;
    border:1px solid #de9c1f;
    position:absolute;
    top:0px;
    right:0px;
    text-align: center;
    line-height: 25px;
    font-family: family_min;
    color: rgba(255, 255, 255, 0.8);
    transform: translate3d(0, 0, 0);
    display:none;
    transition:all .5s linear;
}
.word_content:hover .click{
    transform: translate3d(-25px, 25px, 0);
    display:block;
}

.Menubox_on{
    background: rgba(0, 0, 0, 0);
}

