*{
    margin: 0;
    padding: 0;
    list-style:none;
}
.all{
    margin: 2px auto;
    position: absolute;
    width: 1340px;
    height: 4000px;
    /*border: 1px solid black;*/
}

.wrap{
    /*border: 1px solid black;*/
    height:600px;
    width:1340px;
margin: 0 auto;
    overflow: hidden;
    position: relative;
    cursor:pointer;
}
.wrap img{
    margin: 0 auto;
    width: 1340px;
    height:600px;
}
.wrap ul{position:absolute;}
.wrap ul li{height:600px;}
.wrap ol{position:absolute;
    right:5px;
    bottom:10px;}
.wrap ol li{height:20px; width: 20px;
    background:#ccc;
    /*border:solid 1px #666;*/
    border-radius:10px;
    margin-left:5px;
    color:#000;
    float:left;
    line-height:center;
    text-align:center;
    cursor:pointer;}
.wrap ol .on{background:#E97305;
    color:#fff;}
.logo{
    width: 1340px;
    height:600px;
    /*border:  1px solid red;*/
    background: url("../sport_images/title_job.jpg") no-repeat ;

}
/*前面布局图*/
.mod
{
    position:relative;
    width: 100%;
    height: 100px;
    /*border: 1px solid yellow;*/
}
/*中间标题*/
h1{

    font-size: 50px;
    margin: 10px auto;
    text-align: center;
    font-family: cursive;
}
/*标题字体样式*/
img{
    width: 320px;
    height: 280px;
}
.banner{
    width: 600px;
    height: 300px;

    position: absolute;
    top: 120px;
    left: 600px;
}

.write_logo{
    font-size: 36px;
    font-family: cursive;
    color: white;
}
.temper{
    color: white;
    text-align: center;

}
.first{

    /*border: 1px solid blue;*/
    height: 370px;
    width: 100%;
    font-size: 20px;
    float: left;
    display: block;
}

.first_one{
    position: relative;
    margin-top: 10px;
    height: 360px;
    width: 320px;
    /*border: 1px solid black;*/
    float: left;
    margin-left:20px ;
    transition: .9s;
    white-space: nowrap;
    overflow: hidden;

}
.first_one:hover{

    box-shadow: 0px 10px 15px rgba(0,0,0,.6);
    transform: translate3d(0px,-5px,0px);
}
.first_one .bottom-ad{
    text-align: center;
    width: 320px;
    height: 80px;
    background-color: #999998;
    position: absolute;
    bottom:-100px;
    transition: .9s;

}
.first_one:hover .bottom-ad{
    bottom: 0px;
}

.first_two{

    margin-top: 10px;
    height: 360px;
    width: 320px;
    /*border: 1px solid black;*/
    float: left;
    margin-left: 10px;
    background-color:white;
    position: relative;
    transition: .9s;
    overflow: hidden;
}
.first_two:hover{
    transform: translate3d(0px,-5px,0px);
    box-shadow: 0px 10px 15px rgba(0,0,0,.6);
}
.first_two .bottom-ad{
    width: 320px;
    height: 80px;
    background-color: #999998;
    position: absolute;
    bottom:-100px;
    transition: .9s;

}
.first_two:hover .bottom-ad{
    bottom: 0px;
}
ul li{
    list-style: none;
}
.commit{
    position: absolute;
    margin-left: 10px;
    font-size: 22px;
    margin-top: 5px;
}
.bask_logo{
    background: url("../sport_images/basketball_logo.jpg");
    width: 20px;
    height: 20px;

}

.first_three{
    position: relative;
    margin-top: 10px;
    margin-left:10px ;
    height: 360px;
    width: 320px;
    /*border: 1px solid black;*/
    float: left;
    transition: .9s;
    white-space: nowrap;
overflow: hidden;
}
.first_three:hover{

    margin-top: 10px;
    height:360px;
    width: 320px;
    box-shadow: 0px 10px 15px rgba(0,0,0,.6);
    transform: translate3d(0px,-5px,0px);
}


.first_three .bottom-ad{
    width: 320px;
    height: 80px;
    background-color: #999998;
    position: absolute;
    bottom:-100px;
    transition: .9s;

}
.first_three:hover .bottom-ad{
    bottom: 0px;
}
.first_four{
    position: relative;
    margin-top: 10px;
    margin-left:10px ;
    height: 360px;
    width: 320px;
    /*border: 1px solid black;*/
    float: left;
    transition: .9s;
    white-space: nowrap;
    overflow: hidden;
}
.first_four:hover{

    margin-top: 10px;
    height:360px;
    width:320px;
    box-shadow: 0px 10px 15px rgba(0,0,0,.6);
    transform: translate3d(0px,-5px,0px);
}


.first_four .bottom-ad{
    width: 320px;
    height: 80px;
    background-color: #999998;
    position: absolute;
    bottom:-100px;
    transition: .9s;

}
.first_four:hover .bottom-ad{
    bottom: 0px;
}
 ul li{
    list-style: none;
}
 .commit{
    color: #404040;
     text-align:center;
    font-size: 22px;
   margin-top: 8px;
 }
 .write{
     position: relative;
     top: 7px;
     color: #404040;
     text-align:center;
 }
.bask_logo img{
    width: 22px;
    height: 24px;
}
.float{
    clear: left;
    height: 20px;
}


.second{

    /*border: 1px solid blue;*/
    height: 370px;
    width: 100%;
    font-size: 20px;
    float: left;
    display: block;
}

.second_one{
    position: relative;
    margin-top: 10px;
    height: 360px;
    width: 320px;
    /*border: 1px solid black;*/
    float: left;
    margin-left:20px ;
    transition: .9s;
    white-space: nowrap;
    overflow: hidden;

}
.second_one:hover{

    box-shadow: 0px 10px 15px rgba(0,0,0,.6);
    transform: translate3d(0px,-5px,0px);
}
.second_one .bottom-ad{
    text-align: center;
    width: 320px;
    height: 80px;
    background-color: #999998;
    position: absolute;
    bottom:-100px;
    transition: .9s;

}
.second_one:hover .bottom-ad{
    bottom: 0px;
}

.second_two{
     position: relative;
     margin-top: 10px;
     height: 360px;
     width: 320px;
     /*border: 1px solid black;*/
     float: left;
     margin-left:10px ;
     transition: .9s;
     white-space: nowrap;
     overflow: hidden;

 }
.second_two:hover{

    box-shadow: 0px 10px 15px rgba(0,0,0,.6);
    transform: translate3d(0px,-5px,0px);
}
.second_two .bottom-ad{
    text-align: center;
    width: 320px;
    height: 80px;
    background-color: #999998;
    position: absolute;
    bottom:-100px;
    transition: .9s;

}
.second_two:hover .bottom-ad{
    bottom: 0px;
}
.second_two{
    position: relative;
    margin-top: 10px;
    height: 360px;
    width: 320px;
    /*border: 1px solid black;*/
    float: left;
    margin-left:10px ;
    transition: .9s;
    white-space: nowrap;
    overflow: hidden;

}
.second_two:hover{

    box-shadow: 0px 10px 15px rgba(0,0,0,.6);
    transform: translate3d(0px,-5px,0px);
}
.second_two .bottom-ad{
    text-align: center;
    width: 320px;
    height: 80px;
    background-color: #999998;
    position: absolute;
    bottom:-100px;
    transition: .9s;

}
.second_two:hover .bottom-ad{
    bottom: 0px;
}
.second_three{
    position: relative;
    margin-top: 10px;
    margin-left:10px ;
    height: 360px;
    width: 320px;
    /*border: 1px solid black;*/
    float: left;
    transition: .9s;
    white-space: nowrap;
    overflow: hidden;
}
.second_three:hover{

    margin-top: 10px;
    height:360px;
    width: 320px;
    box-shadow: 0px 10px 15px rgba(0,0,0,.6);
    transform: translate3d(0px,-5px,0px);
}


.second_three .bottom-ad{
    width: 320px;
    height: 80px;
    background-color: #999998;
    position: absolute;
    bottom:-100px;
    transition: .9s;

}
.second_three:hover .bottom-ad{
    bottom: 0px;
}
.second_four{
    position: relative;
    margin-top: 10px;
    height: 360px;
    width: 320px;
    /*border: 1px solid black;*/
    float: left;
    margin-left:20px ;
    transition: .9s;
    white-space: nowrap;
    overflow: hidden;

}
.second_four:hover{

    box-shadow: 0px 10px 15px rgba(0,0,0,.6);
    transform: translate3d(0px,-5px,0px);
}
.second_four .bottom-ad{
    text-align: center;
    width: 320px;
    height: 80px;
    background-color: #999998;
    position: absolute;
    bottom:-100px;
    transition: .9s;

}
.second_four:hover .bottom-ad{
    bottom: 0px;
}
.float{
    clear: left;
    height: 20px;
}

